/* style.css */
body {
    background-color: #fff4f7;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
}

.icon {
    font-size: 3em;
    margin-bottom: 20px;
    animation: flowerMovement 3s infinite alternate;
}

@keyframes flowerMovement {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.typing {
    font-size: 2em;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ff69b4;
    width: 100%; /* Alteração para manter a largura */
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ff69b4; }
}

.button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #c2185b;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
